<p>
  You can (hopefully) find a chord name by specifing a pattern you play. Write fret numbers separated by spaces
  starting from the lowest (top, first) string. Use <kbd>0</kbd> for open strings and <kbd>x</kbd> or <kbd>X</kbd> for muted strings.
</p>

<div class="well">
    <form action="/rsearch" method="get">
        <label>I play this</label>&nbsp;<input name="pattern" placeholder="0 3 3 x" value="{{ query|e }}">&nbsp;
        <label>on</label>&nbsp;<select name="instrument">
          {% for k,v in instruments.items() %}
            <option value="{{ k }}" {% if k == instrument %}selected="selected"{% endif %}>{{ v }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">How do you call it?</button>
    </form>
</div>
