<div class="well">
    <form action="/rsearch" method="get">
        <label>I play this</label>&nbsp;<input name="pattern" placeholder="0 3 3 x" value="{{ query|e }}">&nbsp;
        <label>on</label>&nbsp;<select name="instrument">
          {% for k,v in instruments.iteritems() %}
            <option value="{{ k }}" {% if k == instrument %}selected="selected"{% endif %}>{{ v }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">How do you call it?</button>
    </form>
</div>
