<div class="well">
    <form action="/search" method="get">
        <label>Find me</label>&nbsp;<input name="chord" value="{{ query|e }}" placeholder="g6">
        &nbsp;<label>for</label>&nbsp;<select name="instrument">
          {% for k,v in instruments.iteritems() %}
            <option value="{{ k }}" {% if k == instrument %}selected="selected"{% endif %}>{{ v }}</option><
          {% endfor %}
        </select>
        <label>using max.&nbsp;</label> <input name="max_fingers" type="number" max="5" min="0" value="{{ max_fingers|e }}" >&nbsp;fingers
        <button type="submit" class="btn btn-primary">please!</button>
    </form>
</div>
