<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - chordata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="/static/base.css" rel="stylesheet">
  <script>
  {% block inline_js %}{% endblock %}
  </script>
  <script src="/static/jquery-2.1.1.min.js"></script>
  <script src="/static/chordata.js"></script>
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li><a href="/">search</a></li>
      <li><a href="/reverse">reverse search</a></li>
      <li><a href="/links">useful links</a></li>
    </ul>
    <div id="main">
      <h1>{{ title }}</h1>
      {% block content %}{% endblock %}
    </div>
    <a href="https://github.com/starenka/chordata" title="Fork me on GitHub">
      <img style="position: absolute; top: 5px; right: 5px; border: 0;" src="https://raw.githubusercontent.com/github/media/master/octocats/blacktocat-32.png" alt="Fork me on GitHub" />
    </a>
  </body>
</html>
