{% extends 'base.html' %}

{% block content %}
<pre>

                ***************************************
                ***     GUIDE TO CHORD FORMATION    ***
                ***************************************


                                Written by Howard Wright
                                hakwright [at] gmail [dot] com


                                Last update 11th October 1996


****************************************************************************
***            Copyright Howard Wright and the olga-grunts               ***
***                                                                      ***
*** This document may be distributed freely as long as NO CHARGE is made ***
*** and my name and email address are not removed. If you want to edit   ***
*** or re-format this document for public consumption, please contact me ***
*** first. If you try to make any money by selling this guide to chord   ***
*** theory, in part or as a whole, you will be struck down by a bolt of  ***
*** lightning.             Probably.                                     ***
****************************************************************************



CONTENTS :
-----------

1.0   Introduction

2.0   Intervals

2.1   Interval flavours

2.2   Table of Intervals

3.0   Triads :

  3.1 Major and minor triads
  3.2 Suspended triads

4.0   7th chords :

  4.1 Minor 7ths
  4.2 Major and dominant 7ths

5.0   6th chord

6.0   9ths, 11ths, 13ths :

  6.1 'normal' 9th, 11th and 13th chords
  6.2 minor 9th, 11th and 13th chords
  6.3 major 9th, 11th and 13th chords

7.0   X/Y type chords

8.0   'Add' chords and chromatic notes

9.0   diminished, half diminished and augmented chords

Appendix A : The Chromatic Scale

Appendix B : List of all major and minor triads

Appendix C : Circle of 5ths and Key Signatures




*****************************
***  1.0   INTRODUCTION   ***
*****************************


The idea of this FAQ is to give you the information you need to be
able to work out and understand which notes make up a certain chord.
Using this FAQ you will be able to :

Work out the notes you need for *any* chord.

Work out what chord name should be given to a particular bunch of
notes.


A lot of people are put off from delving into a little chord theory
because there seems so much to learn, it often seems confusing, and
it's hard to give hard and fast rules.  When someone posts a chord
shape and asks 'What is the name of this chord' there are usually at
least four different replies given. It is true that in a lot of cases
there is more than one way to look at things, and often a chord
could be given two names, but it's still surprisingly easy to get
to grips with the basics of chord names.


What do you need to know to be able to work out chord names for
yourself ?

Well it is hard to give 'Golden Rules' of harmony or music theory
which can be followed to the letter always giving the right answer.

However there are a small number of basic guidelines which you can
follow that should take 95% of the mystery away from music theory
as applied to chords.


First things first. To work out chord names the first and most
important skill is to be able to count. Hopefully everybody
mastered this skill some years ago, so we're off to a good
start.

The second most important skill is to know the major scale.
Most people will be pretty familiar with this too, but in any
case it is very easy to learn.

The scale is characterised by the distances between successive notes.
If we choose G as our starting point, it goes like this :


Note of the scale    Distance up from root note    Actual note
------------------------------------------------------------------
  1  (root note)             0                        G
  2                          2 semitones              A
  3                          4 semitones              B
  4                          5 semitones              C
  5                          7 semitones              D
  6                          9 semitones              E
  7                          11 semitones             F#
  8                          12 semitones             G



*** Important note for all you folks in America ***

Over in Britain we have things called tones and semitones.
From what I know, you have things called whole steps and half steps.
The conversion is :

One tone = one whole step

One semitone = one half step

As I'm used to writing about tones/semitones, those are the words you'll see.
I think you can translate easily enough to steps/half steps.


*** Another note for people in Germany and Scandinavia ***

I will use the British conventions for note names - so there will be Bs and
Bbs. To 'translate' :

German/Scandinavian    British/Others

               H     =    B
               B     =    Bb

Likewise, if any of you that are used to Bs and Bbs see chord names like
H7, use the above to translate back.


Anyway ...


The pattern of tones and semitones is what characterises the scale.
Obviously you can choose whatever note you like to start on, but if
you simply count up in semitones, using the middle column above,
you will get the major scale of that note.


It makes things easier if we refer to the notes of the scale as
'the 7th' or 'the 3rd'. If we know we are talking about a major
scale and we know what the starting note is, then we can work out
what the '7th' or '3rd' of that scale is.  We use this idea to
"spell out" chords - this is where you say something like :

The major chord is made up of  1st 3rd 5th

This means choose your starting note (the 1st) find the 3rd and 5th
of it's major scale and you have the right notes for the chord.
The advantage of this method is that it can be used to find *any*
major chord - you just change the starting note.

If you want to put in a little effort, you can quite easily learn
the major scales of every key. That way you don't have to actually
count up in semitones every time you want to find the 5th of a certain
key. (See Appendix C)

BUT - if you want to keep things really simple, counting will work
just as well.


So, a little example.

You want to find out what notes are in a D major chord.

Your starting note or root note is D (the 1st)

To get the 3rd of the major scale count up 4 semitones - F#

To get the 5th count up 7 semitones - A

So the notes are : D F# and A


So all this chord stuff comes down to these 3rds, 5ths and so on.
These are called INTERVALS.



************************
***  2.0  INTERVALS  ***
************************


This is a way of referring to notes by desribing the 'distances'
between them.

In the G major scale above, we can see that the distance between the
1st note (or root note) and the 2nd note is 2 semitones - this is
called a 2nd

The distance between the root note (G) and the 3rd note in the scale
is 4 semitones - this is called a 3rd

Pretty easy so far.

All you need to do is count up from the root note using notes of the
scale, and if you end up on the 5th note of the scale you have a 5th,
if you're on the 7th note, you've got a 7th.


Surely it can't be that simple ... ?


*********************************
***  2.1  INTERVAL FLAVOURS   ***
*********************************


Well not quite. As well as major scales, there are minor scales.
You could also have a 'weird' note or chromatic note that didn't
fit into either scale.

To cope with this, the intervals come in different flavours.

You can have a minor 3rd or a major 3rd.
You can have a normal 5th (perfect 5th) or an augmented 5th.
You can have a 9th or a flat 9th


All that changes here is that the 'distance' or interval is either
stretched or squeezed by one semitone (half step).

So a minor 3rd is a semitone less than a major 3rd.
An augmented 5th is a semitone more than a perfect 5th.


You will see a few different terms her which mean the same thing.


*    An AUGMENTED or SHARP interval means one semitone higher.

*    A DIMINISHED or FLAT interval means one semitone lower.


You also have minor and major intervals which differ by a
semitone - the minor interval is one semitone lower than
the major interval.
Here is a table of intervals with their corresponding 'distances' in
semitones.


********************************
***  2.2  TABLE OF INTERVALS ***
********************************

Semitones    Interval
-----------------------
   0           Unison
   1           flat 2nd
   2           2nd
   3           minor 3rd
   4           major 3rd
   5           perfect 4th
   6           flat 5th (diminished 5th or augmented 4th)
   7           perfect 5th
   8           minor 6th  (or sharp 5th/augmented 5th)
   9           major 6th
  10           minor 7th  (flat 7th)
  11           major 7th
  12           octave
  13           flat 9th
  14           9th
  15           sharp 9th/minor 10th (just minor 3rd one octave higher)
  16           major 10th (just major 3rd one octave higher)
  17           11th
  18           augmented 11th
  19           perfect 12th (octave above perfect 5th)
  20           flat 13th
  21           13th


So to work out any particular note, say the major 6th of an A major
scale, start with A, find the distance for a major 6th (9 semitones)
and just count up from A.

You should end up with F#, so this is a major 6th up from A.
(see chromatic scale - Appendix A)



So, to recap.  Chords are described or 'spelled out' using intervals.
These intervals tell you far above the root note the other notes of
the chord are. By using the table above you can find out how many
semitones you need to move up for any given interval.


Here is a simple example.

Bm7 - the spelling for this is : 1st,  minor 3rd,  5th, minor 7th

Start with B - count up 3 semitones for a minor 3rd - you get D.

Count up 7 semitones from B to get the 5th - F#

Count up 10 semitones to get the minor 7th - A

So the notes are : B D F# A


So - if you know the spelling of a particular chord (i.e the
intervals which describe it) then it's simple to use the table
above to find out what notes you need.

What if you don't know the chord spelling ?

If you just have a chord name, like F#m9, then you need to
know how this chord is built.
The basic building blocks of *all* chords are triads.



***********************
***  3.0  TRIADS    ***
***********************


These are the basic building blocks of chords. A triad is a group of
3 notes and determines the basic sound of a chord.

E.g if the chord is a minor chord, it will be based on a minor triad.

If the chord is major, it will be based on a major triad.


  3.1  -  Major and Minor triads
----------------------------------

The major and minor triads are made up form these notes :


    1st 3rd 5th


but REMEMBER - use a minor 3rd for the minor triad, and the major
3rd for the major triad.

A list of all major and minor triads is given at the end of this
FAQ (Appendix B). If you want to learn them, it makes life easier,
but it's easy enough to just count up in semitones from the root note
to get the notes for any triad you're interested in.


The only difference between a major *chord* and a major *triad* is
that a chord will usually have more than 3 notes, so you just
double up on some of them. The root (1st) is most likely to
be doubled, but you can double up on the 1st, 3rd or 5th,
although you will get subtly different sounds.

Take C major for example.

C major triad  =  1st, major 3rd, 5th  =  C E G

Everybody knows this chord :

  EADGBE
  x32010

    C


If we look at the notes, we see it has :

(low to high) : C E G C E

Which is the same as : 1st 3rd 5th 1st 3rd

So here the 1st and 3rd have been doubled.

Remember that the root note must always be the lowest
note of the chord. If you want to have the 3rd or 5th
at the bottom of the chord, you have to write it as
C/E or C/G meaning a C chord with an E (or G) bass.
See section 7.0 for more details on X/Y type chords.




   3.2  -  Suspended triads
-------------------------------

The thing to remember here is that the 3rd has been replaced
with another note - either the 2nd or the 4th.

So whereas with major and minor triads you have the 3rd to give
the 'flavour' of the chord (i.e major or minor), with suspended
triads you have no 3rd, so the chord is neither major nor
minor.

A suspended 4th triad would be :  1st 4th 5th

A suspended 2nd triad would be :  1st 2nd 5th



As with major and minor chords, you just double up on notes
to go from the triad to the chord.

BUT - you almost never double the 'suspended' note - you usually
only double the 1st or 5th.

So take Asus4 as our example.

Asus4 triad is :  1st 4th 5th =  A D E

The shape is :

  EADGBE
  x02230

   Asus4


The spelling for this is :

(low to high) :  A E A D E       (1st 5th 1st 4th 5th)


So here the 1st and 5th appear twice in the chord, with just one 4th.


So now I've covered major and minor chords, suspended 2nd and suspended 4th
chords.




****************************
***  4.0   7th Chords    ***
****************************



   4.1   -  Minor 7ths
----------------------------

For minor chords there is one common type of 7th - the minor 7th.

As you might expect, you start with the minor triad, then add
the minor 7th.

So, as an example lets take D minor 7th (Dm7)

The spelling is : 1st, minor 3rd, 5th, minor 7th

Using the table of intervals above, we count up from D to get
the other notes.

To get the min 3rd, count up 3 semitones - F
To get the 5th count up 7 semitones      - A
To get the min 7th count up 10 semitones - C

So Dm7 is made up of the notes : D F A C

If you use the open D string for th D note, you could
use these two shapes :

  EADGBE     EADGBE
  xx0211     xx0565

   Dm7        Dm7


Min/maj 7th chords
-------------------

There is another chord called the min/maj7th. This is a bit
of a weird fish, but you might come across it once in a
while. It's made up by taking the minor triad and adding
the major 7th to it.

So Dm/maj7th would be :   D F A C#




   4.2  -  Major 7ths and flat 7ths (dominant 7ths)
--------------------------------------------------------

With major triads you can build 2 types of 7th chord.
If you add the major 7th of the scale, you get the major 7th
chord. If you add the *flat* 7th to the major triad you get
the so-called dominant 7th chord.

When guitarists talk about '7th chords' as in 12-bar blues etc,
then they mean chords with the *flat* 7th.

Major 7th chords are written as Cmaj7, Dmaj7 etc but the flat 7
or 'blues' 7th is written simply as C7, D7 etc.

So for a major 7th chord the spelling is :

1st major 3rd 5th major 7th

If we start with F as our root, and count up we get this :

Go up 4 semitones from F for major 3rd : A
Go up 7 semitones from F for 5th       : C
Go up 11 semitones from F for maj 7th  : E

So the notes of the chord  Fmaj7  are : F A C E


To build an F7 chord, the only difference is that we add a
flat 7 instead of a maj7. So we add an Eb instead of E,
so the notes of a F7 chord are : F A C Eb


As with simple triads, you can double up on some of the notes
to make a chord.  With 7th chords you could double up on
the root, 3rd, 7th or 5th.

Take a standard 7th chord, E7 :

 EADGBE
 020100


The notes are : E B D G# B E, so the root and 5th have both
been doubled.


**************************
***  5.0   6th chords  ***
**************************


To make a 6th chord, start with the triad and add the 6th.

- But note that the *major 6th* is added to make both major
and minor 6th chords - the 'minor' or 'major' bit comes from
the triads.

So - for a C6 chord, start with a C major triad (CEG) and add
the major 6th (A).

C6 = C E G A

For a Cm6, start with a C minor triad (CEbG) and add the major
6th (A).

Cm6 = C Eb G A


  6/9 chords
--------------

These are similar to 6th chords, but they have a 9th added, as you
may have guessed !

I've always seen this as major chords, but I guess there's no reason
why you couldn't have something like Dm6/9

Anyway they are built up by taking the basic triad, and adding the 6th
and the 9th.

So C6/9 would be :  1st, maj 3rd, 5th, 6th, 9th

i.e the notes are :  C E G A D

(The 5th can sometimes be left out)

A nice shape for this C6/9 would be :

   EADGBE
   x32233

   C 6/9



******************************************
***  6.0   9th, 11th and 13th chords   ***
******************************************



Once you move beyond 7ths and start adding notes from higher up
the scale (.eg. 9ths, 11ths, 13ths) there is one very important
thing to remember.

*** All of these chords must have a 7th in them ***


Just as there are 3 types of 7th chord (7th, min 7th, maj 7th)
you end up with 3 types for 9th 11th and 13th chords by simply
adding to the basic 7th chord.

To get a 9th chord, add the 9th to the (flat) 7th chord
To get a min 9th, add the 9th to the min 7th chord
To get a maj 9th, add the 9th to the maj 7th chord

To get 11th chords you can add the 11th to the 3 types of
9th chord, but most ot the time the 9th is not needed, so you
simply add an 11th to the 7th chords to build the 3 types of
11th chord, and similarly with 13ths.

If you have a voicing of a 13th chord that *also* has a 9th or 11th
in it, then that's fine : it's still a 13th chord, but most of the
time these chords are just a normal 7th with an added note (9th, 11th
or 13th)


   6.1  -  9th 11th and 13th chords
-------------------------------------

The spelling for chords like C9, C11, C13 (i.e chords built on C7 - so
they have a flat 7th in them) is :

 9th  :  1st, maj 3rd, 5th, flat 7th, 9th

 11th  :  1st, maj 3rd, 5th, flat 7th, 11th

 13th  :  1st, maj 3rd, 5th, flat 7th, 13th


It's worth noting here that the 5th can be omitted from the chord.
The *essential* notes for C9, C11 and C13 are the 1st, 3rd, 7th and
9th/11th/13th



  6.2  -  Minor 9ths, 11ths, 13ths
------------------------------------

The same principle applies for the minor versions of these chords.
Start with the minor 7th chord, and add the 9th or 11th or 13th.

So the spellings are :


For a minor ninth chord    :  1st,  min 3rd,  5th,  flat 7th,  9th

For a minor 11th chord    :  1st,  min 3rd,  5th,  flat 7th,  11th

For a minor 13th chord     :  1st,  min 3rd,  5th,  flat 7th,  13th


As before, the 5th can be left out, but all other notes must be
in the chord.
You could also include the 9th in an 11th chord, or the 9th and
11th in a 13th chord, but on a guitar this is usually not done.



  6.3  -  Major 9ths, 11ths, 13ths
-------------------------------------

Again, a very similar principle. Start with the major 7th chord
and add the 9th, 11th or 13th.

It's very important to be clear on the difference between a 7th,
a min 7th and a maj 7th to be able to build these chords correctly !

The spellings are :

 maj 9th  :  1st, maj 3rd, 5th, maj 7th, 9th

 maj 11th  :  1st, maj 3rd, 5th, maj 7th, 11th

 maj 13th  :  1st, maj 3rd, 5th, maj 7th, 13th


(Again the 5th is the only optional note)

A quick example :

To find the notes for A13 , we have A as the root.

Move up 4 semitones for the maj 3rd      :  C#
Move up 7 semitones for the 5th          :  E
Move up 10 semitones for the flat 7th    :  G
Move up 21 semitones for the 13th        :  F#


So A13 = A C# E G F#

Note that when counting up large intervals, like 13ths, you
can count up 9 semitones (21-12) to get the right note name
since subtracting 12 just means an octave lower.

BUT - when forming the chord, the 13th must be at the right
'distance' from the root - i.e it must be more than an octave
higher than the root, otherwise it is just an ordinary 6th.



*******************************
***  7.0   X/Y type chords  ***
*******************************



This seems to be a commonly misunderstood term.

If a chord is written as something like C/G then it simply
means that you play the chord given by the first letter, with
the bass note given by the second letter - in this example, we
have C major with a G bass note.


Chords like these may have a bass note which is already part
of the chord itself, as in this example (C major is made up
of the notes C E G , so the G bass is part of the chord)

or they may have a bass note which is 'outside' the chord,
something like E/A (A is not part of the E major chord).


Working out what notes are in these type of chords presents
no extra problems - simply work out the notes in the chord
given by the first letter, then add the bass note.

These X/Y type of chords can get more complicated than straight
major/minor chords with things like Asus2/C#, but the principle
is the same.

To work out this chord, start with Asus2.

spelling = 1st 2nd 5th

look up the intervals in the table of intervals to get the
number of semitones you have to count up for each note.

 2nd = 2 semitones up from A = B
 5th = 7 semitones up from A = E

so Asus2 = A B E

therefore Asus2/C# = C# A B E

(it's standard practice to 'spell' chords from low to high)




***********************************************
***  8.0  'Add' chords and chromatic chords ***
***********************************************


Just to recap, here are the triads and chords I've covered so far :

Major, minor, sus2 and sus4 triads and chords
Major 7th, flat 7th and minor 7th chords
9th, min 9th, maj 9th, 11th, min 11th, maj 11th,
13th, min 13th, maj 13th chords


All other chords fall into the series of chords with 'added' notes
or chords with altered notes.


--- Added chords ---

Chords with 'added' notes are just what they sound like.
They are usually written as something like Cadd2, Cadd4 etc.

Simply start with the 'base' chord (C in this example) and add
the appropriate note. You can of course add to any 'base' chord
whether it's major or minor or whatever.

Be sure you understand the difference between add2 and sus2 chords,
and add4 and sus4 chords - the sus chords have the 3rd *replaced* with
another note. The 'add' chords simply add to the triad, so Cadd2 would
be :

 Cadd2 = C triad + 2nd = 1st, 2nd, maj 3rd, 5th

 Csus2 = Csus2 triad   = 1st, 2nd, 5th


Similarly there is an important difference between 'add9' and '9'
chords. A C9 chord *must* have the flat 7th in it (see above), but
the Cadd9 chord will not - it's just a C major triad with a 9th added.


You can carry on adding as many notes as you want. If you play around
with alternative tunings you could quite easily come across chords
like Aadd2add4, but most of the time you'll just have one added note.

You can of course add a note to a chord that isn't a simple major
or minor chord - you can have things like Csus4add9 etc.



--- Altered chords ---


These are chords with chromatic alterations.
The 5th, 2nd, 4th, 9th etc can all be chromatically altered - i.e
moved up or down by a semitone (halfstep)

Examples of this are chords like E7#9 and E7b9

 - the 9th of a normal E9 chord has been sharpened in the E7#9, and
flattened in the E7b9.

So what are the notes for these ?

Well, starting with the 'E7' bit :

  E7  =  1st, maj 3rd, 5th, flat 7th  =  E, G#, B, D

Now add the #9 (count up 15 semitones from E) - G

So E7#9 = E G# B D G


Similarly E7b9 = E G# B D F



There are a few different ways to write these chords.

 '-' and '+' signs are sometimes used to mean 'flat' and
'sharp' respectively, but 'b' and '#' are used as well.

You might even see 'dim' and 'aug' (diminished and augmented)
used too for the same thing.

So E7#9 could be written as E7+9 or E7aug9

and E7b9 could be written as E7-9 or E7dim9



With these chromatically altered chords there is almost
no limit on the number of chords you can create - most
of these will be used in jazz, but some (like the E7#9)
appear quite a lot in rock music too.

Too work out the notes to these types of chord it's best to
start with the 'basic' chord, then add the chromatic notes
to this. So , as above for E7#9, start with E7, then add the
#9.

You may find several chromatic notes in one chord -

like A13b5b9 - treat it just the same way - build up the
A13 chord, then swap the 5th and 9th for the flat 5th and
flat 9th.



**********************************************
***  9.0   Diminished and augmented chords ***
**********************************************


The only chords left to cover are the diminished and augmented.

The diminished chord is either written as 'dim' or sometimes using
a small circle o, like the symbol for degrees.

A diminished chord is made up of these notes :

  1st, min 3rd, flat 5th, double flat 7th


(double flat 7th is the same note as the major 6th, but it's
usually written as double flat 7th - don't ask me why !)

So A diminished would be : A, C, Eb, Gb

As a point of interest, the intervals between successive notes in a
diminished chord are ALL minor thirds.

This means if you start to build a dim chord on a C, you end up
with the same notes as for the A dim.

In other words Adim = Cdim = Ebdim = Gbdim   =  A+C+Eb+Gb
So when you play a diminished chord, if you move it up the neck by
3 frets you still have the same chord !!


There is also a chord called the half-diminished, or diminished 7th.
I usually write this one as somthing like Em7-5 - just another name for
the same chord. It's best if you're aware of the different names used
for the same chord. It is also sometimes written with a small circle
with a line through it.

The difference between this one and a 'normal' diminished is that the
7th of the chord is a flat 7th not a double flat 7th (hence half-diminished).

So the spelling is 1st, min 3rd, flat 5th, flat 7th



An augmented chord is made up of these notes :

  1st, maj 3rd, sharp 5th


So A augmented would be : A C# E#   (same as A C# F).

(Intervals between successive notes are all maj 3rds - i.e 4 semitones)

You can see augmented chords written as something like 'A aug' or 'A+'.


********************
***  Appendix A  ***
********************


Chromatic scale :
-------------------

Enharmonic equivalents are written on top of one another
(i.e C# is the same as Db etc)


C  C#  D  D#  E  F  F#  G  G#  A  A#  B
   Db     Eb        Gb     Ab     Bb


Obviously this is a continuous thing - if you want to count up 4 semitones
from A, you count one (A#), two (B), go *back* to the beginning for three (C)
then four (C#) - so C# is the note 4 semitones above A.



********************
***  Appendix B  ***
********************


The major triads        The minor triads
------------------------------------------

 C E G                  C Eb G
 Db F Ab                Db Fb Ab
 D F# A                 D F A
 Eb G Bb                Eb Gb Bb
 E G# B                 E G B
 F A C                  F Ab C
 F# A# C#               F# A C#
 G B D                  G Bb D
 Ab C Eb                Ab Cb Eb
 A C# E                 A C E
 Bb D F                 Bb Db F
 B D# F#                B D F#



**********************
***   Appendix C   ***
**********************

  Circle of 5ths and Key Signatures
 -----------------------------------

You've probably heard the phrase 'circle of 5ths' before.
It relates to the way key signatures are written, which
tells us how many sharps or flats to play.

C major has no sharps or flats
G major has one sharp  (F#)
D major has 2 sharps   (F# and C#)

if we carry on finding the keys with 3, 4, 5 sharps
we find that the next key in the series is a 5th
higher than the previous one.

So when we start with C major, go up a 5th to G major,
then up a 5th to D, then A and so on.

It also works for the flat key signatures if we go down
in 5ths. So a 5th down from C is F (one flat), then another
5th down is Bb (2 flats), then Eb and so on.


Here is my attempt at drawing it as the famous 'circle' of
5ths (more like an ellipse in my case)

Everytime you move round one positition, you go up or
down by a 5th. The + signs are for the sharps, the - for
the flats. Note that this is for the major keys only.



             0
         -1              +1
             C
        F          G
      -2                     +2
     Bb               D


 -3  Eb                        A   +3



 -4  Ab                      E   +4



      Db					B
  -5                            +5


      Gb                   F#
      -6                       +6
           Cb         C#
                      +7
        -7



The only other thing you need to know here is which are
the flat and sharp notes.

Here again there is another 5ths relationship.

If we list the sharp notes we need to add as we move
clockwise round from C major we get :

  F#, C#, G#, D#, A#, E#, B#

so starting from the F#, the series goes up a 5th every time.


So how does it all work ?

For G major, from the circle we see it has 1 sharp.
Take the 1st sharp from the series above : F#

So we need F# for a G major scale/key signature

For D major, we need 2 sharps, so we take F# and C#

For A major, we take F#, C# and G#

.. and so on for all the other sharp keys.


For the flat notes, the series is :

 Bb, Eb, Ab, Db, Gb, Cb, Fb

(yet another 5ths relationship ...)

So if we pick a flat key, say Eb major, from the circle
we see it has 3 flats, so we need Bb, Eb and Ab.


Because all the things you need to know here are connected
with relationships of a 5th, it's fairly easy to learn the
circle of 5ths. This makes it very easy to work out notes of
a scale.

Note that this is all for the *major* scale.

For minor scales you need to find the realtive major key.
The relative major key is always 3 semitones higher than
the minor key (e.g Cmajor / Aminor   - C is 3 semitones
above A)

So, say you want to know the scale of Ab minor.

The relative major key is Cb major.

So you need all 7 flats !

The scale is :   Ab, Bb, Cb, Db, Eb, Fb, Gb, Ab

When you see things like Fb, it sounds a bit strange,
but it makes things a lot easier if you stick to these
conventions instead of saying 'E is the same as Fb'.

The idea is that for EVERY scale, the letter names appear
once only. So every scale will have an F of some sort, but
in some it will be F natural, some it will be F# and some it
will be Fb.
</pre>
{% endblock %}
